.popular-product-categories__subtitle {
  font-family: "Roboto-Medium", sans-serif;
  font-weight: 500;
}

.popular-product-categories {
  padding: 20px 0 40px;
}
.popular-product-categories__wrap {
  max-width: 1150px;
  margin: 0 auto;
}
.popular-product-categories .slick-prev {
  z-index: 5;
  left: -7%;
}
.popular-product-categories .slick-next {
  right: -6%;
}
.popular-product-categories .slick-prev, .popular-product-categories .slick-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.popular-product-categories .slick-disabled path {
  fill: #CCCCCC;
}
.popular-product-categories__inner {
  max-width: 184px;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}
.popular-product-categories__img {
  width: 95px;
  height: 95px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 20px;
}
.popular-product-categories__subtitle {
  font-size: 14px;
  line-height: 16px;
  color: #363636;
}