.recommended-filter__btn, .recommended-filter__filter-item {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
}

.recommended-filter__slider-price, .recommended-filter__slider-text, .recommended-filter__subtitle {
  font-family: "Roboto-Medium", sans-serif;
  font-weight: 500;
}

.recommended-filter {
  padding: 28px 0 60px;
}
.recommended-filter__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
}
.recommended-filter__filter-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.recommended-filter__subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #363636;
  margin-right: 8px;
}
.recommended-filter__filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.recommended-filter__filter-item {
  font-size: 14px;
  line-height: 16px;
  color: #363636;
  background-color: #F5F5F5;
  border-radius: 4px;
  padding: 8px 12px;
}
.recommended-filter__filter-item:not(:last-child) {
  margin-right: 8px;
}
.recommended-filter__btn {
  font-size: 16px;
  line-height: 19px;
  color: #7D7D7D;
  padding-right: 34px;
  position: relative;
}
.recommended-filter__btn::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url("../images/icons/arrow-black-bottom.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 24px;
  height: 24px;
}
.recommended-filter__inner-mobile {
  display: none;
}
.recommended-filter__slider-item {
  padding-right: 8px;
  padding-bottom: 14px;
}
.recommended-filter__slider-wrap {
  border: 1px solid #EBEBEB;
  -webkit-box-shadow: 8px 4px 24px rgba(0, 0, 0, 0.05);
          box-shadow: 8px 4px 24px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px;
  width: 313px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
.recommended-filter__slider-wrap:hover {
  border: 1px solid #898989;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.recommended-filter__slider-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 95px;
  height: 95px;
  margin-right: 12px;
}
.recommended-filter__slider-text {
  font-size: 14px;
  line-height: 16px;
  color: #363636;
  margin-bottom: 16px;
}
.recommended-filter__slider-price {
  font-size: 14px;
  line-height: 16px;
  color: #363636;
  position: relative;
}
.recommended-filter__slider-price::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url("../images/icons/arrow-black-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 24px;
  height: 24px;
}

.recommended-filter__slider-list-hide {
  display: none;
}

@media (max-width: 576px) {
  .recommended-filter__inner {
    display: none;
  }
  .recommended-filter__inner-mobile {
    display: block;
  }
  .recommended-filter__filter-box {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 25px;
  }
  .recommended-filter__subtitle {
    font-size: 16px;
    line-height: 19px;
  }
  .recommended-filter__filter-list {
    margin-bottom: 20px;
  }
  .recommended-filter__slider-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .recommended-filter__slider-img {
    margin-right: 0;
    margin-bottom: 12px;
    width: 60px;
    height: 60px;
  }
  .recommended-filter__slider-text {
    display: none;
  }
  .recommended-filter__slider-price::before {
    width: 0;
    height: 0;
  }
}