.trend-products__wrap {
  padding-top: 80px;
}
.trend-products__btnprew {
  margin-right: 20px;
}
.trend-products__btnnext {
  margin-left: 20px;
}
.trend-products__inner {
  position: relative;
}
.trend-products-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.trend-products-inner-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -25px;
}
.trend-products-inner-button svg {
  display: block;
}
.trend-products-inner-button .slick-disabled path {
  fill: #CCCCCC;
}
.trend-products__item {
  height: 552px;
}
.trend-products__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: absolute;
  bottom: 11%;
  z-index: -1;
}
.trend-products__dots-itemsone, .trend-products__dots-itemstwo {
  background-color: #F5F5F5;
  border-radius: 12px;
  height: 6px;
  width: 50%;
}
.trend-products__mobile-wrap {
  display: none;
}
.trend-products__mobile-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.trend-products__mobile-item {
  width: 25%;
}

.page__hide {
  display: none;
}

.active__dots {
  background-color: #091278;
}

.trend-products__list .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-90px);
      -ms-transform: translateY(-90px);
          transform: translateY(-90px);
  position: inherit;
  z-index: -1;
}
.trend-products__list .slick-dots .slick-active {
  background-color: #091278;
}
.trend-products__list .slick-dots li {
  background-color: #F5F5F5;
  border-radius: 12px;
  width: 100%;
  height: 6px;
}
.trend-products__list .slick-dots button {
  font-size: 0;
  padding: 0;
  border: none;
}

@media (max-width: 1200px) {
  .trend-products-inner-button {
    display: none;
  }
  .trend-products {
    padding-bottom: 0;
  }
  .trend-products__item {
    padding-right: 10px;
  }
  .trend-products__list .slick-dots {
    -webkit-transform: translateY(-70px);
        -ms-transform: translateY(-70px);
            transform: translateY(-70px);
  }
}
@media (max-width: 992px) {
  .trend-products-inner-button {
    display: none;
  }
  .trend-products__mobile-wrap {
    display: none;
  }
  .trend-products {
    padding-bottom: 54px;
  }
  .trend-products__list .slick-dots {
    -webkit-transform: translateY(-70px);
        -ms-transform: translateY(-70px);
            transform: translateY(-70px);
  }
  .trend-products__item {
    height: 500px;
  }
}
@media (max-width: 768px) {
  .trend-products__mobile-item {
    width: 30%;
    margin-bottom: 20px;
  }
  .trend-products__item {
    padding-bottom: 0;
  }
  .trend-products__list .slick-dots {
    -webkit-transform: translateY(-25px);
        -ms-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  .trend-products__item {
    height: 400px;
  }
}
@media (max-width: 576px) {
  .trend-products {
    padding: 0;
  }
  .trend-products__wrap {
    padding: 32px 0 25px;
  }
  .trend-products__mobile-item {
    width: 47%;
    display: block;
  }
  .trend-products__list .slick-dots {
    -webkit-transform: translateY(-45px);
        -ms-transform: translateY(-45px);
            transform: translateY(-45px);
  }
}