@import 'vars';

.baner__top {
  // padding: 100px 0;

  &-list .slick-dots {
    display: flex;
    justify-content: end;
  }

  &-list .slick-prev {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 45px;
    transform: translateY(-80%);
    z-index: 1;
  }

  &-list .slick-next {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 45px;
    transform: translateY(-80%);
  }

  

  &-dots-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: -50px;
    right: 45px;

    & li:not(:last-child) {
      margin-right: 4px;
    }

    & .slick-active .baner__top-btn-dots {
      color: #091278
    }
  }

  &-btn-dots-number {
    display: none;
  }

  &-btn-dots {
    @extend %roboto-medium;
    font-size: 12px;
    line-height: 14px;
    padding: 5px 8px;
    background-color: #fff;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    color: #898989;
  }

  &-wrap {
    margin: 0 auto;
    max-width: 2000px;
  }

  &-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // padding: 100px 0;
    // height: calc(90vh - 175px);
    position: relative;
  }

  &-box {
    margin-right: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
  }

  &-title {
    @extend %roboto-regular;
    font-size: 36px;
    line-height: 1.2;
    color: #000;
    margin-bottom: 20px;
  }

  & picture img {
    width: 2000px;
    height: 600px;
    object-fit: cover;
    margin-bottom: 8px;
  }
  
  &-date {
    @extend %roboto-regular;
    font-size: 26px;
    line-height: 1.2;
    color: #000;
    margin-bottom: 16px;
  }

  &-text {
    @extend %roboto-regular;
    font-size: 18px;
    line-height: 1.2;
    color: #2e2e2e;
    max-width: 500px;
    text-align: center;
  }
}

.mobile__nav {
  padding: 16px 0 32px;
  display: none;

  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #091278;
    border-radius: 4px;
    padding: 15px 0;
    width: 100%;
  }

  &-line {
    background-color: #fff;
    width: 18px;
    height: 2px;
    margin-left: 4px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -5px;
      left: 0;
      background-color: #fff;
      width: 18px;
      height: 2px;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      background-color: #fff;
      width: 18px;
      height: 2px;
    }
  }

  &-text {
    font-size: 16px;
    line-height: 19px;
    padding-left: 4px;
    color: #fff;
  }
}

@media (max-width: 768px) {

  .baner__top-inner {
    align-items: center;
  }

  .baner__top-box {
    margin-right: 0;
  }

  .baner__top-title {
    font-size: 26px;
  }

  .baner__top-img-num {
    width: 220px;
  }

  .baner__top-text {
    max-width: 350px;
  }

  .baner__top-list .slick-dots {
    justify-content: center;
    margin-top: 48px;
  }

}

@media (max-width: 576px) {

  .baner__top-inner {
    align-items: center;
  }

  .baner__top-box {
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .baner__top-list .slick-prev {
    top: 80%;
    transform: translateY(14%);
    left: 16px;
    width: 40px;
    height: 40px;
  }

  .baner__top-list .slick-next {
    top: 80%;
    transform: translateY(14%);
    right: 16px;
    width: 40px;
    height: 40px;
    z-index: 2;
  }

  .baner__top-dots-list {
    justify-content: center;
    right: 0;
  }

  .baner__top picture img {
    height: 400px;
  }

  

  .baner__top-aboveheader {
    font-size: 14px;
    line-height: 16px;
  }

  .baner__top-title {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }

  .baner__top-img-num {
    width: 160px;
  }

  .baner__top-text {
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 20px;
  }

  .baner__top-btn-dots-title{
    display: none;
    }
    .baner__top-dots-list li.slick-active .baner__top-btn-dots-title{
    display: block;
    }
    .baner__top-dots-list li.slick-active .baner__top-btn-dots-number{
    display: none;
    }

    .baner__top-btn-dots-number {
      display: block;
    }

}
