@import 'vars';

.catalog__banner {

  &-wrap {
    padding: 80px 0;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-title {
    @extend %roboto-medium;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #363636;
    margin-bottom: 16px;
  }

  &-text {
    @extend %roboto-light;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #7D7D7D;
    max-width: 630px;
    width: 100%;
  }

  &-btninner {
    margin-top: 12px;
    display: none;
  }

  &-expand {
    @extend %roboto-regular;
    font-size: 16px;
    line-height: 19px;
    color: #091278;
    padding-right: 34px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      background-image: url("../images/icons/arrow-blue-bottom.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 24px;
      height: 24px;
    }
  }

  &-collapse {
    @extend %roboto-regular;
    font-size: 16px;
    line-height: 19px;
    color: #091278;
    padding-right: 34px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      background-image: url("../images/icons/arrow-blue-bottom.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 24px;
      height: 24px;
    }
  }
}

@media (max-width: 576px) {
  .brilliants__banner {
    display: flex;
    flex-direction: column;
  }

  .brilliants__banner-wrap {
    padding: 40px 0;
    background-image: none;
    order: 1;
    position: relative;
  }

  .brilliants__banner-inner {
    display: block;
  }

  .brilliants__banner-title {
    text-align: left;
  }

  .brilliants__banner-text {
    overflow: hidden;
    height: 52px;
    text-align: left;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
      width: 100%;
      height: 32px;
      z-index: 1;
    }
  }

  .brilliants__banner-btninner {
    display: block;
  }

  .brilliants__banner-hide {
    display: none;
  }
  
  .brilliants__banner-show {
    height: 100%;
  
    &::before {
      width: 0;
      height: 0;
    }
  }
}