@import 'vars';


.cart-page {
  padding-top: 42px;

  &__title {
    @extend %roboto-medium;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    color: #111111;
    margin-bottom: 40px;
  }

  &__wrap {
    display: flex;
    padding-bottom: 60px;
  }

  &__list {
    width: 63%;
    margin-right: 46px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 58px;
    }

    &:not(:first-child) {
      padding-top: 20px;
      border-top: 1px solid #E1E1E1;
    }
  }

  &__link-img {
    width: 120px;
    height: 120px;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
  }

  &__img {
    width: 120px;
    height: 120px;
    object-fit: cover;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    width: 70%;
  }

  &__content-box:first-child{
    width: 45%;
  }

  &__content-title {
    @extend %roboto-medium;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #111111;
    margin-bottom: 8px;
    display: block;
  }

  &__content-article {
    @extend %roboto-regular;
    font-size: 12px;
    line-height: 14px;
    color: #626262;
  }

  &__content-text {
    @extend %roboto-regular;
    font-size: 12px;
    line-height: 14px;
    color: #111111;
    margin-bottom: 12px;
  }

  &__content-select-inner {
    margin-bottom: 28px;
  }

  &__content-select {
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    background-color: #fff;
    padding: 16px 14px;
  }

  &__content-num {
    @extend %roboto-medium;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #111111;
  }

  &__content-newprice {
    @extend %roboto-medium;
    font-size: 18px;
    line-height: 21px;
    color: #111111;
    margin-bottom: 8px;
  }

  &__content-oldprice {
    @extend %roboto-medium;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: line-through;
    color: #626262;
  }

  &__content-btn {
    background-image: url(../images/icons/delete-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 12px 12px;
    width: 24px;
    height: 24px;
  }

  &__inner {
    width: 32.5%;
  }

  &__form {
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    padding: 40px 20px;
    width: 100%;
  }

  &__form-title {
    @extend %roboto-medium;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    color: #111111;
    margin-bottom: 20px;
  }

  &__form-promo {
    @extend %roboto-medium;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #091278;
    margin-bottom: 20px;
  }

  &__form-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__form-input {
    max-width: 222px;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    padding: 18px 16px;
    color: #091278;

    &:focus {
      outline-color: #091278;
    }
  }

  &__form-btnpromo {
    @extend %roboto-regular;
    font-size: 18px;
    line-height: 21px;
    color: #091278;
    border: 1px solid #091278;
    border-radius: 4px;
    padding: 16px 14px;
    display: inline-block;
  }

  &__form-list {
    margin-bottom: 40px;
  }

  &__form-item {
    @extend %roboto-regular;
    font-size: 16px;
    line-height: 19px;
    color: #626262;
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    &:nth-child(1) {
      @extend %roboto-medium;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      color: #363636;
    }

    &:nth-child(2) .cart-page__form-num {
      color: #091278;
    }

    &:nth-child(4) {
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      color: #363636;
    }
  }

  &__btn {
    @extend %roboto-regular;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    background-color: #091278;
    border-radius: 4px;
    width: 100%;
    display: block;
    text-align: center;
    padding: 16px 0;
  }
}

.cart-page__content-select-inner .select2-container--default .select2-selection--single {
  @extend %roboto-regular;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  color: #898989;
  height: 52px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.cart-page__content-select-inner .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50%;
  right: 15px;
  transform: translateY(-40%);
}

.cart-page__content-select-inner .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: transparent;
  border-width: 0;
  top: 50%;
  right: 3px;
  transform: translateY(-56%);
  background-image: url('../images/icons/arrow-city-bottom-grey.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
}

.cart-page__content-select-inner .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent;
  border-width: 0;
  transform: translateY(-56%) rotate(180deg);
}

.content-select .select2-results__option--selectable {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select2-container--default .select2-results__option--selected {
  background-color: #fff;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #EBEDFF;
  color: #000;
}

@media (max-width: 1200px) {

  .cart-page__list {
    width: 50%;
  }

  .cart-page__link-img {
    margin-right: 12px;
  }

  .cart-page__content {
    flex-direction: column;
  }
  
  .cart-page__content-box:first-child {
    width: 100%;
  }

  .cart-page__inner {
    width: 44%;
  }
}

@media (max-width: 992px) {

  .cart-page__wrap {
    flex-direction: column;
  }

  .cart-page__list {
    width: 98%;
    margin-right: 0;
    margin-bottom: 40px;
  } 

  .cart-page__item {
    align-items: flex-start;
  }

  .cart-page__item:not(:first-child) {
    border-bottom: 1px solid #E1E1E1;
    padding-bottom: 20px;
  }

  .cart-page__inner {
    width: 100%;
  } 

  .cart-page__content-box {
    margin-bottom: 16px;
  }

  .cart-page__form {
    width: 100%;
    border-color: transparent;
  }

}

@media (max-width: 576px) {

  .cart-page {
    padding-top: 20px;
  }

  .cart-page__title {
    margin-bottom: 20px;
  }

  .cart-page__content-box:first-child {
    width: 92%;
  }

  .cart-page__link-img {
    width: 80px;
    height: 80px;
  }

  .cart-page__img {
    width: 80px;
    height: 80px;
  }

  .cart-page__content {
    width: 65%;
  }

  .cart-page__content-title {
    font-size: 14px;
    line-height: 16px;
  }

  .cart-page__list {
    width: 100%;
  } 

  .cart-page__content-newprice {
    font-weight: 600;
  }

  .cart-page__content-box:last-child {
    display: flex;
    flex-direction: column;
  }

  .cart-page__content-newprice {
    order: 1;
    display: flex;
  }

  .cart-page__content-oldprice {
   display: flex;
   margin-bottom: 4px;
  }

  .cart-page__form {
    padding: 0;
  }

  .cart-page__form-title {
    font-size: 20px;
    line-height: 22px;
  }

  .cart-page__form-promo {
    margin-bottom: 12px;
  }

  .cart-page__form-input {
    max-width: 178px;
    padding: 15px 16px;
  }

  .cart-page__form-item {
    font-size: 14px;
    line-height: 16px;
  }

  .cart-page__form-item:nth-child(4) {
    font-size: 20px;
    line-height: 23px;
  }

}

