@import 'vars';

.footer {
  padding: 40px 45px;

  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__inner {
    width: 24%;
  } 

  &__inner-contacts {
    display: none;
  }

  &__logo {
    margin-bottom: 40px;
    display: block;
  }

  &__social-show {
    display: none;
  }

  &__items {
    @extend %roboto-light;
    font-size: 14px;
    line-height: 16px;
    color: #363636;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__items-btn {
    padding: 16px 0;
  }

  &__link-btn {
    @extend %roboto-regular;
    font-size: 16px;
    line-height: 19px;
    background-color: #091278;
    color: #fff;
    border-radius: 4px;
    padding: 10px 16px;
    display: inline-block;
  }

  &__title {
    @extend %roboto-medium;
    font-size: 20px;
    line-height: 23px;
    color: #363636;
    text-transform: uppercase;
    padding-bottom: 20px;
    margin-bottom: 40px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: #E1E1E1;
      width: 84%;
      height: 1px;
    }
  }

  &__box {
    display: flex;

    & .footer__list:first-child {
      margin-right: 60px;
    }
  }

  &__social-list {
    display: flex;
    margin-bottom: 40px;
  }

  &__social-item {

    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__social-link {
    background-color: #F5F5F5;
    padding: 24px 24px;
    border-radius: 4px;
    display: block;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url("../images/icons/location.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 24px;
      height: 24px;
    }

    &-facebook::before {
      background-image: url("../images/icons/facebook.svg");
    }

    &-insta::before {
      background-image: url("../images/icons/insta.svg");
    }

    &-youtube::before {
      background-image: url("../images/icons/youtube.svg");
      width: 30px;
    }
  }

  &__findstore-link {
    @extend %roboto-light;
    font-size: 16px;
    line-height: 19px;
    color: #091278;
    padding: 14px 12px 14px 40px;
    background-color: #EBEDFF;
    border-radius: 4px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-60%);
      background-image: url("../images/icons/location.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 14px;
      height: 16px;
    }

    &:hover {
      color: #36363697;
    }
  }

  &__kuz {
    text-align: right;
  }
}


@media (max-width: 992px) {


  .footer__wrap {
    flex-wrap: wrap;
  }

  .footer__inner {
    width: 50%;
    margin-bottom: 15px;
  }


}

@media (max-width: 576px) {

  .footer {
    padding: 40px 0;
  }

  .footer__wrap {
    flex-direction: column;
  }

  .footer__inner {
    width: 100%;
  }

  .footer__box {
    display: flex;
    align-items: center;
  }

  .footer__logo {
    width: 100px;
    margin-right: 84px;
  }

  .footer__social-show {
    display: block;
  }

  .footer__title {
    margin-bottom: 24px;
  }

  .footer__title::before {
    width: 100%;
  }

  .footer__title::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../images/icons/arrow-black-bottom.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 24px;
    height: 24px;
  }

  .footer__inner-contacts {
    margin-bottom: 24px;
  }

  .footer__inner:last-child .footer__title {
    display: none;
  }

  .footer__social-hide {
    display: none;
  }

  .footer__social-link {
    padding: 20px 20px;
}

  .footer__contacts-hide {
    display: none;
  }

  .footer__inner-contacts {
    display: block;
  }

  .footer__findstore-link {
    display: inline-block;
    margin-bottom: 40px;
  }

  .footer__kuz {
    text-align: left;
}

.footer__box-directory,
.footer__list-menu,
.footer__list-contacts {
  display: none;
}

.footer__items:last-child {
  margin-bottom: 16px;
}


.footer__box-show {
  display: block;
}



}