@import 'vars';


.offers {
  

  &__wrap {
    display: flex;
    justify-content: space-between;
    padding: 80px 0 110px;
  }

  &__inner {
    width: 48%;
  }

  &__img {
    object-fit: cover;
    margin-bottom: 16px;
    width: 100%;
  }

  &__inner:last-child .offers__img {
    margin-top: 16px;
    margin-bottom: 0;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item:first-child {
    width: 62%;
    margin-right: 24px;
  }

  &__aboveheader {
    @extend %roboto-regular;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.12em;
    color: #A0A0A0;
    margin-bottom: 12px;
  }

  &__title {
    @extend %roboto-medium;
    font-size: 24px;
    line-height: 28px;
    color: #363636;
    margin-bottom: 20px;
  }

  &__text {
    @extend %roboto-light;
    font-size: 14px;
    line-height: 16px;
    color: #7D7D7D;
  }

  &__subtitle {
    @extend %roboto-regular;
    font-size: 14px;
    line-height: 16px;
    color: #363636;
    margin-bottom: 12px;
  }

  &__product {
    border: 1px solid #EBEBEB;
    box-shadow: 8px 4px 24px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 20px 20px;
    transition: all 0.3s;

    &:hover {
      border: 1px solid #000;
    box-shadow: transparent;
    }
  }

  &__product-img {
    object-fit: cover;
    margin-right: 10px;
  }

  &__product-text {
    @extend %roboto-medium;
    font-size: 14px;
    line-height: 16px;
    color: #363636;
    margin-bottom: 16px;
  }

  &__product-price {
    @extend %roboto-medium;
    font-size: 14px;
    line-height: 16px;
    color: #363636;
    padding-right: 24px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      background-image: url("../images/icons/arrow-black-right.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 24px;
      height: 24px;
    }
  }

  &__product {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 992px) {
  .offers__wrap {
    flex-direction: column;
  }

  .offers__inner {
    width: 100%;
  }

  .offers__inner {
    display: flex;
    flex-direction: column;
  }

  .offers__inner:last-child .offers__img {
    margin-top: 16px;
    margin-bottom: 16px;
    order: -1;
    display: flex;
  }
}

@media (max-width: 576px) {
  .offers {
    padding: 0;
  }

  .offers__wrap {
    padding: 32px 0 72px;
  }

  .offers__product {
    flex-direction: column;
    align-items: center;
  }

  .offers__product-text {
    display: none;
  }

  .offers__inner:last-child {
    display: none;
  }

  .offers__text {
    font-size: 12px;
  }

  .offers__product-img {
    margin-right: 0;
    margin-bottom: 12px;
  }

  .offers__product-price {
    padding-right: 0;

    &::before {
      width: 0;
      height: 0;
    }
  }
}

.product-card-elements {
        flex-direction: column;
    }